<!--Content of home page-->
<div class="flex justify-center items-center w-full h-full">
    <div class="flex flex-col space-y-2 xsm:space-y-4">
        <button class="w-auto h-auto font-Pixelify text-center text-sm rounded-2xl bg-blue-500 p-2 text-white hover:bg-blue-700" onclick="modalStatus('matchDiv', 'matchContainer', 'flex', 'modal_animation'); findPlayerMatch()">Player vs Player</button>
        <button class="w-auto h-auto font-Pixelify text-center text-sm rounded-2xl bg-blue-500 p-2 text-white hover:bg-blue-700" onclick="goToCustomLobbyHost()">Custom Mode</button>
    </div>
</div>